asgiref==3.4.1
auth==0.5.3
blinker==1.4
certifi==2021.5.30
charset-normalizer==2.0.3
Django==4.0
dnspython==2.1.0
eventlet==0.33.0
falcon==3.0.1
greenlet==1.1.2
gunicorn==20.1.0
idna==3.2
lxml==4.6.3
mongoengine==0.23.1
pymongo==3.12.3
PyMySQL==1.0.2
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.6
Werkzeug==2.0.2
