
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        {% load static %}
	    <link rel="shortcut icon" type="image/x-icon" href="{%static "../static/images/favicon.ico" %}"/>
        <title>小虎牙拼团助手</title>
        <script type="text/javascript" src="http://tajs.qq.com/stats?sId=37342703" charset="UTF-8"></script>
        <link rel="stylesheet" href="../static/css/frozen.css">
        <link rel="stylesheet" href="../static/demo.css">
        <script src="../static/js/lib/zepto.min.js"></script>
        <script src="../static/js/js/frozen.js"></script>
    </head>

    <body ontouchstart>
        <header class="ui-header ui-header-positive ui-border-b">
            <i class="ui-icon-return" onclick="history.back()"></i>
            <h1>{% block header %} {% endblock %}</h1>
        </header>
        <footer class="ui-footer ui-footer-btn">
            <ul class="ui-tiled ui-border-t">
                <li data-href="order.html" class="ui-border-r"><div>拼团</div></li>
                <li data-href="cook.html" class="ui-border-r"><div>订单</div></li>
                <li data-href="me.html"><div>我</div></li>
            </ul>
        </footer>

        {% block content %}
        {% endblock %}

        <script>
        $('.ui-list li,.ui-tiled li').click(function(){
            if($(this).data('href')){
                location.href= $(this).data('href');
            }
        });
        $('.ui-header .ui-btn').click(function(){
            location.href= 'index.html';
        });
        </script>
    </body>
</html>