{% extends 'base.html' %}
{% block header %}修改资料{% endblock %}
{% block content %}
<section class="ui-container">

<div class="demo-item" style="margin-top: 30%">
        <div class="demo-block" style="margin-top: 60%">
            <div class="ui-form ui-border-t">
                <form action="#" method="post">{% csrf_token %}
                    <div class="ui-form-item ui-border-b" style="border: none">
                        <label>
                            联系方式
                        </label>
                        <input type="text" placeholder="请输入联系方式" minlength="7" maxlength="11" name="tel" value="{{ data.tel }}"/>
                        </a>
                    </div>
                    <div class="demo-item" style="margin-top: 5%">
                        <div class="demo-block">
                            <div class="ui-btn-wrap">
                                <button class="ui-btn-lg ui-btn-primary" type="submit">
                                    确认修改
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



</section><!-- /.ui-container-->
{% endblock %}