{% extends 'base.html' %}
{% block header %}拼团清单{% endblock %}
{% block content %}
<section class="ui-container">
<section id="searchbar">
    <div class="demo-item">
        <form action="" method="post">{% csrf_token %}
        <div class="demo-block">
            <div  class="ui-searchbar-wrap ui-border-b">
                <div class="ui-searchbar ui-border-radius">
                    <i class="ui-icon-search"></i>
                    <div class="ui-searchbar-text">搜索拼团编码</div>
                    <div class="ui-searchbar-input"><input value="{{ pid }}" name="search" type="text" placeholder="输入拼团名称搜索" autocapitalize="off"></div>
                    <i class="ui-icon-close"></i>
                </div>
                <button class="ui-searchbar-cancel">取消</button>
            </div>
            <!-- <script src="http://i.gtimg.cn/vipstyle/frozenjs/1.0.1/frozen.js?_bid=304"></script> -->
            <script src="../static/js/js/frozen.js"></script>
            <script type="text/javascript">
                $('.ui-searchbar').tap(function(){
                    $('.ui-searchbar-wrap').addClass('focus');
                    $('.ui-searchbar-input input').focus();
                });
                $('.ui-searchbar-cancel').tap(function(){
                    $('.ui-searchbar-wrap').removeClass('focus');
                });
                $('.ui-icon-close').tap(function () {
                    $('.ui-searchbar-input').text("");
                })
            </script>
        </div>
        </form>
    </div>

    <div class="demo-item">
        <p class="demo-desc" style="color: dodgerblue">拼团列表</p>
            <div class="demo-block">
                <ul class="ui-list ui-list-text ui-border-tb">
                {% for p in pdata %}
                    {% if p.yunum != 0 %}
                <li class="ui-border-t">
                    <div class="ui-list-info">
                        <a href="success.html?pid={{ p.pid }}">
                        <h4 class="ui-nowrap">{{ p.name }}</h4></a>
                    </div>
                    <div class="ui-badge">拼团中</div>
                </li>
                    {% else %}
                <li class="ui-border-t">
                    <div class="ui-list-info">
                        <a href="success.html?pid={{ p.pid }}">
                        <h4 class="ui-nowrap">{{ p.name }}</h4></a>
                    </div>
                    <div class="ui-badge-muted">已结束</div>
                </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
</section>



{% endblock %}